#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: apps/v1
kind: {{ ternary "DaemonSet" "Deployment" .Values.useDaemonSet }}
metadata:
  name: {{ include "apisix.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "apisix.labels" . | nindent 4 }}
spec:
{{- if and (not .Values.useDaemonSet) (not .Values.autoscaling.enabled) }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "apisix.selectorLabels" . | nindent 6 }}
  {{- if .Values.updateStrategy }}
  {{- if (not .Values.useDaemonSet) }}
  strategy: {{ toYaml .Values.updateStrategy | nindent 4 }}
  {{- else }}
  updateStrategy: {{ toYaml .Values.updateStrategy | nindent 4 }}
  {{- end }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{ tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
      labels:
        {{- include "apisix.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range $.Values.global.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      serviceAccountName: {{ include "apisix.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext: 
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- . | toYaml | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- if .Values.pingsix.logLevel }}
            - name: RUST_LOG
              value: {{ .Values.pingsix.logLevel | quote }}
          {{- end }}
          {{- if .Values.timezone }}
            - name: TZ
              value: {{ .Values.timezone }}
          {{- end }}
          {{- if .Values.extraEnvVars }}
          {{- include "apisix.tplvalues.render" (dict "value" .Values.extraEnvVars "context" $) | nindent 12 }}
          {{- end }}

          ports:
            {{- /* Dynamic ports from listeners */ -}}
            {{- range $idx, $listener := .Values.pingsix.listeners }}
            {{- $parts := splitList ":" $listener.address }}
            {{- $port := index $parts (sub (len $parts) 1) | int }}
            - name: listener-{{ $idx }}
              containerPort: {{ $port }}
              protocol: TCP
            {{- end }}
            
            {{- /* Admin API port */ -}}
            {{- if .Values.pingsix.admin.enabled }}
            {{- $adminParts := splitList ":" .Values.pingsix.admin.address }}
            {{- $adminPort := index $adminParts (sub (len $adminParts) 1) | int }}
            - name: admin
              containerPort: {{ $adminPort }}
              protocol: TCP
            {{- end }}
            
            {{- /* Status port */ -}}
            {{- if .Values.pingsix.status.enabled }}
            {{- $statusParts := splitList ":" .Values.pingsix.status.address }}
            {{- $statusPort := index $statusParts (sub (len $statusParts) 1) | int }}
            - name: status
              containerPort: {{ $statusPort }}
              protocol: TCP
            {{- end }}
            
            {{- /* Prometheus port */ -}}
            {{- if .Values.pingsix.prometheus.enabled }}
            {{- $promParts := splitList ":" .Values.pingsix.prometheus.address }}
            {{- $promPort := index $promParts (sub (len $promParts) 1) | int }}
            - name: prometheus
              containerPort: {{ $promPort }}
              protocol: TCP
            {{- end }}

          {{- /* Readiness probe */}}
          readinessProbe:
            failureThreshold: 6
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            {{- if .Values.pingsix.status.enabled }}
            {{- $statusParts := splitList ":" .Values.pingsix.status.address }}
            {{- $statusPort := index $statusParts (sub (len $statusParts) 1) | int }}
            httpGet:
              path: /status/ready
              port: {{ $statusPort }}
            {{- else }}
            {{- $firstListener := index .Values.pingsix.listeners 0 }}
            {{- $parts := splitList ":" $firstListener.address }}
            {{- $port := index $parts (sub (len $parts) 1) | int }}
            tcpSocket:
              port: {{ $port }}
            {{- end }}
            timeoutSeconds: 1

          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - "sleep 30"
          volumeMounts:
            - mountPath: /app/config.yaml
              name: pingsix-config
              subPath: config.yaml
          {{- /* Mount TLS certificates from secrets */ -}}
          {{- range $idx, $listener := .Values.pingsix.listeners }}
          {{- if and $listener.tls $listener.tls.secretName }}
            - mountPath: /etc/pingsix/tls/listener-{{ $idx }}
              name: tls-listener-{{ $idx }}
              readOnly: true
          {{- end }}
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
          {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
        {{- if .Values.extraContainers }}
        {{- toYaml .Values.extraContainers | nindent 8 }}
        {{- end }}
      {{- if .Values.hostNetwork }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
      hostNetwork: {{ .Values.hostNetwork }}
      initContainers:
        {{- /* Wait for etcd based on priority */ -}}
        {{- if (index .Values "ingress-controller" "enabled") }}
        - name: wait-etcd
          image: {{ .Values.initContainer.image }}:{{ .Values.initContainer.tag }}
          {{- $ingressControllerName := printf "%s-ingress-controller" .Release.Name }}
          command: ['sh', '-c', "until nc -z {{ $ingressControllerName }} {{ index .Values "ingress-controller" "etcd" "port" | default "12379" }}; do echo waiting for ingress-controller etcd `date`; sleep 2; done;"]
        {{- else if .Values.etcd.enabled }}
        - name: wait-etcd
          image: {{ .Values.initContainer.image }}:{{ .Values.initContainer.tag }}
          {{- if .Values.etcd.fullnameOverride }}
          command: ['sh', '-c', "until nc -z {{ .Values.etcd.fullnameOverride }} {{ .Values.etcd.service.port }}; do echo waiting for etcd `date`; sleep 2; done;"]
          {{ else }}
          command: ['sh', '-c', "until nc -z {{ .Release.Name }}-etcd.{{ .Release.Namespace }}.svc.cluster.local {{ .Values.etcd.service.port }}; do echo waiting for etcd `date`; sleep 2; done;"]
          {{- end }}
        {{- end }}
        {{- if .Values.extraInitContainers }}
        {{- toYaml .Values.extraInitContainers | nindent 8 }}
        {{- end }}
      volumes:
        - configMap:
            name: {{ include "apisix.fullname" . }}
          name: pingsix-config
        {{- /* TLS certificate volumes from secrets */ -}}
        {{- range $idx, $listener := .Values.pingsix.listeners }}
        {{- if and $listener.tls $listener.tls.secretName }}
        - name: tls-listener-{{ $idx }}
          secret:
            secretName: {{ $listener.tls.secretName }}
        {{- end }}
        {{- end }}
        {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- tpl (. | toYaml) $ | nindent 8 }}
      {{- end }}
